@use '../../styles/mixins' as *;

.main {
    display: flex;
}

.page {
    @include pageLayout;
}

.create-staff-card {
    @include cardLayout;

    &__title {
        padding: 1rem;
        padding-left: 2rem;
    }
}