.pet-list {
    display: flex;
    // height: 3rem;
    padding: 1.5rem 1rem;
    border: 1px solid black;
    margin-top: .5rem;
    border-radius: 20px;

    &__item {
        // padding-left: 3.5rem;
        width: 12rem;
    }

    &__name {
        padding-left: 2rem;
    }

    &--aggressive {
        background-color: #f10c10;
    }

    &--not-aggressive {
        background-color: #D8DBF1;
    }

    &--deceased {
        background-color: #d3d3d3;
    }
}