@use '../../styles/variables' as *;

.pet {
    display: flex;
    border-top: 1px solid black;
    padding: 1rem 0;

    &__name {
        width: 5rem;
        padding: .5rem .5rem;
        padding-left: 2rem;
    }

    &__species {
        width: 7rem;
        padding: .5rem .5rem;
        padding-left: 2rem;
    }

    &__breed {
        width: 16rem;
        padding: .5rem .5rem;
        padding-left: 2rem;
    }

    &--docile {
        width: 8rem;
        margin-left: 2rem;
        padding: .5rem .5rem;
        background-color: $docile-colour;
        border: 1px solid $docile-colour;
        border-radius: 20px;
        text-align: center;
    }

    &--aggressive {
        width: 8rem;
        margin-left: 2rem;
        padding: .5rem .5rem;
        background-color: $aggressive-colour;
        border: 1px solid $aggressive-colour;
        border-radius: 20px;
        text-align: center;
    }

    &--active {
        width: 8rem;
        margin-left: 6rem;
        padding: .5rem .5rem;
        background-color: $active-colour;
        border: 1px solid $active-colour;
        border-radius: 20px;
        text-align: center;
    }

    &--deceased {
        width: 8rem;
        margin-left: 6rem;
        padding: .5rem .5rem;
        background-color: $deceased-colour;
        border: 1px solid $deceased-colour;
        border-radius: 20px;
        text-align: center;
    }
}