@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.main {
    display: flex;
}

.page {
    @include pageLayout;
    
}

.inventory-card {
    @include cardLayout;

    &__title {
        padding: 1rem;
        padding-left: 2rem;
    }

    &__button--audit {
        padding: .25rem .75rem;
        border: 1px solid $active-colour;
        border-radius: 20px;
        background-color: $active-colour;
        width: 3.5rem;
        margin-left: 2rem;
        margin-top: 3rem;
    }

    &__button--submit {
        padding: .25rem .75rem;
        border: 1px solid $active-colour;
        border-radius: 20px;
        background-color: $active-colour;
        width: 5rem;
        margin-left: 2rem;
        margin-top: 3rem;
    }
}